* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-image: url(https://i.pinimg.com/originals/70/10/49/701049f25a0a5c7053ef427308857973.gif);
  background-position: 100% 100%;
  background-attachment: fixed;
  background-size: cover;

}
html{
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
}